db.sqlite3
__pycache__/
*.pyc
*.pyo
*.pyd
*.log
*.pot
*.mo
*.swp
.DS_Store
*.sqlite3
*.env
*.venv
.env.*
.venv/
.idea/
.vscode/
*.bak
*.tmp
*.log
*.pid
*.seed
*.cover
data.json
skills.json
soledrop.png
clean_data.json
.cursor